<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TESTING</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'primaryapp/js/sortable.js' %}"></script>

</head>


<body>

<ul id="sortable">
    {% for dummy_list in tasks %}
    <li class="ui-state-default" id="itemid_{{ dummy_list.id }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ dummy_list.title }}</li>
    {% endfor %}

</ul>

<p>Before AJAX loading</p>

</body>

</html>