
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>val demo</title>
  <style>
  p {
    color: blue;
    margin: 8px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<h1>Welcome to the page</h1>

<input type="text" value="some text">
<p></p>

<ul id="sortable">
    {% for dummy_list in tasks %}
    <li class="column" id="item_{{ dummy_list.order }}" draggable="true"><header>{{ dummy_list.title }}</header></li>
    {% endfor %}
</ul>

<script>
$( "input" )
  .keyup(function() {
    var value = $( this ).val();
    $( "p" ).text( value );
  })
  .keyup();

    $("input").change(function () {
      var username = $(this).val();
      //var username = 'tim';

      $.ajax({
        type: "POST",
        url: '/primaryapp/jsonReturn/',
        data: {'username': username},
        dataType: 'json',
        success: function (data) {
          if (data.username) {
            alert("Got data back from the server.");
            $( "p" ).text( data.username );
          }
        }
      });

    });

</script>

</body>
</html>